.container {
    padding: 1rem 2rem 0 2rem;
    max-height: 89vh;
    overflow-y: scroll;
    .list {
        label {
            padding: .5rem;
        }
    }
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
