<div class="container">
    <div>
        <h2>Hi, I'm PerseOMG</h2>
        <small>(or DMGPerseo, I just forgot my password)</small>
    </div>
    <div class="flex-container">
        <img class="profile" src="../../../../../assets/images/PerseOMG.jpg" alt="profile">
        <div class="information">
            <p>In this project I just wanted to practice some different layouts for web design, trying to understand how they work and just identify how to use them on a webpage. Also I wanted to try some multi-language tools and really just enjoy designing
                and thinking how to solve some issues that I see during the process of creating this app. Hope you like it. :)</p>
            <h5>And thanks to the API's for all the data in this app.</h5>
            <ul class="links">
                <li><a href="https://dog.ceo/dog-api/documentation/breed" target="_blank">Dog API</a></li>
                <li><a href="https://alexwohlbruck.github.io/cat-facts/docs/" target="_blank">Cat Facts</a></li>
            </ul>
        </div>
    </div>


</div>
